@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

body {
      font-family: "Zen Dots", sans-serif;

}

nav ul {
    padding: 0%;
    margin: 0%;
    display : flex;
    
}
nav li {
    list-style-type: none;
}

nav a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color:white

}

nav a:hover {
    background-color: rgb(81, 81, 81);
}
nav{
    background-color: rgb(109, 109, 109);
}

.active{
    /*font-weight: bold;*/
    background-color: rgb(85, 85, 85);
}       

address {
    font-style: normal;
    margin-top: 30px;
    margin-bottom: 30px;
}